.card {
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    @include shadow-4dp();
}

.card__title {
    border-radius: 5px 5px 0 0;
    background: $gd-green;
    color: white;
    font-weight: 300;
    margin: 0;
    padding: $s-size / 2;
    text-align: center;
}

.card__content {
    padding: $s-size;
    p {
        margin: 0;
        padding: $s-size / 3;
    }
}

.card__action {
    border-top: 1px solid darken($light-grey, 7%);
    display: flex;
    padding: $s-size / 2;
    button {
        flex-grow: 1;
    }
}