.arrow {
    border: solid white;
    border-width: 0 2px 2px 0;
    display: inline-flex;
    padding: 3px;
}

.down {
    margin: 3px 5px;
    transform: rotate(45deg);
}

.up {
    margin: -1px 5px;
    transform: rotate(-135deg);
}

.dropdown-menu {
    background: $gd-green;
    display: flex;
    flex-direction: column;
    margin-top: 1.2rem;
    position: absolute;
}

.dropdown-menu__item {
    background: none;
    border: none;
    color: white;
    flex-grow: 1;
    font-size: $font-size-medium;
    font-weight: 300;
    min-width: 16.3rem;
    padding: $s-size;
    text-align: center;
    text-decoration: none;
}