.menu {
    background: white;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    @include shadow-4dp();
    .active {
        background: $gd-green;
        color: white;
    }
    :first-child {
        border-radius: 5px 5px 0 0;
    }
    :last-child {
        border-radius: 0 0 5px 5px;
    }
}

.menu__item {
    border-top: 1px solid darken($light-grey, 7%);
    cursor: pointer;
    font-size: $font-size-large;
    padding: $s-size / 2;
    text-align: center;
}