.ReactModalPortal > div {
    opacity: 0;
}

.ReactModalPortal .ReactModal__Overlay {
    align-items: center;
    display: flex;
    justify-content: center;
    transition: opacity 200ms ease-in-out;
}

.ReactModalPortal .ReactModal__Overlay--after-open {
    opacity: 1;
}

.ReactModalPortal .ReactModal__Overlay--before-close {
    opacity: 0;
}

.modal {
    background: white;
    width: 60vw;
    padding: $s-size;
    text-align: center;
    @include shadow-4dp();
}

.modal--message__overlay {
    background: $dark-grey;
    border-radius: 5px;
    color: white;
    font-size: $font-size-large;
    padding: $s-size;
    position: absolute;
    right: $s-size;
    top: $s-size;
    width: auto;
    @include shadow-4dp();
}

.modal__title {
    font-weight: 300;
}
